body{
    background-color: whitesmoke;
}
.header{
    background:#6900d1;
}
.navbar{
    padding-top: 20px !important;
}
.nav-item{
    margin-left: 40px;
    margin-bottom: 10px;
}
.nav-link{
    color: #fff !important;
    display: unset !important;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.navbar-brand{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.navbar-brand img{
    width: 55px;
    margin-left: 15%;
  
}
.navbar-toggler{
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
}
.nav-link:hover{
    border-bottom: 2px solid #fff;
}
#banner{
    background-color:#6900d1 ;
    padding-top: 5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#banner a{
    margin-left: 0px;
    padding: 12px;
    width: 150px;
    display: inline-block;
    background: #6900d1;
    text-decoration: none !important;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 14px;
}
#banner a:hover{
    color: #fff;
}
.express-btn{
    background: #fff !important;
    color:#000 !important;
    margin-right: 5px;
}
#banner p{
    color: #fff;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    
}
.offer{
    background-color: #6900d1;
    background-size: cover;
    background-position: center;
}
.row{
    margin: initial !important;
}
.subscribe{
    max-width: 500px;
    margin-top: 80px;
    padding: 60px;
    background: #ffffff8c;
    margin-bottom: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: justify;
}
.offer .btn{
background-image: linear-gradient(to right,#6900d1,#5c8bef);
width: 160px;
padding: 10px;
margin-top: 20px;
color: white;
}
.offer img{
    width: 500px;
    height: 400px;
    margin:-100px;
    margin-top: 200px;
}
.offer h2{
    margin-top:150px;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.resume{
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-top: 110px;
    padding-bottom: 30px;
    background-color: #f9f9f9;
}
.resume  h3{
    margin-bottom: 50px;
}
.timeline{
    list-style-type: none;
    position: relative;
}
.timeline:before{
    content: '';
    background:#6900d1 ;
    display: inline-block;
    position: absolute;
    left:29px ;
    width: 2px;
    height: 100%;
    z-index: 1;
}
.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}
.timeline li h4{
    background-color:#6900d1;
    padding:  5px 0 5px 20px;
    column-rule-color: #fff;
    font-size: 15px;
    color: white;
}

.timeline li h4 :before{
    content: '';
    background:white ;
    display: inline-block;
    position: absolute;
    border: 3px solid #6900d1 ;
    border-radius: 50%;
    left:20px ;
    width: 20px;
    height: 20px;
    z-index: 1;
}


.feature{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 200px 0;
}
.feature img{
    max-width: 77%;
    cursor: pointer;
    width: 600px;
    border-radius:15px ;
    box-shadow: 0 010px 10px #6900d1;
    margin-bottom: 20px;
}
.feature h2{
    font-weight: bold;
    line-height: 50px;
    color: #6900d1;
}
.feature p{
    margin-top: 25px;
    margin-bottom: 50px;
    color: #808080;
    font-size: 14px;
    line-height: 18px;
}
.feature a{
    width: 170px;
    padding: 15px 10px;
    display: block;
    background:#6900d1;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
}
.explore{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 200px 0;
}
.explore h2{
    margin-top: 100px;
    font-weight: bold;
    line-height: 50px;
}
.explore a{
    width: 170px;
    padding: 15px 10px;
    display: block;
    background:#6900d1;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
    margin-bottom: 10px;
}
.explore h2{
    margin-top: 50px;
    font-weight: bold;
    line-height: 50px;
    color: #6900d1;
}
.explore p{
    margin-top: 25px;
    margin-bottom: 50px;
    color: #808080;
    font-size: 14px;
    line-height: 18px;
}
.explore img{
    max-width: 77%;
    cursor: pointer;
    width: 600px;
    border-radius:15px ;
    box-shadow: 0 010px 10px #6900d1;
}







#testimonials{
background-color: #6900d1;
}
#testimonials .col-md-4
{
    padding: 10px 30px;

}
#testimonials img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -40px;
    border: 5px solid #6900d1;
    margin-bottom: 30px;
}
.review{
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    background-color: #ffffff8c;
}
.review .fa-link{
    color: #6900d1;
}
#testimonials span{
    color: #6900d1;
    font-weight:600 ;
    font-size:18px; 
}
#testimonials h3
{
    padding-top: 20px;
margin-bottom: 20px;
color: white;
font-family: "Comic Sans MS", cursive, sans-serif;
}
#testimonials p{
    padding-bottom: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#testimonials .middle{
    margin-bottom: -30px;
    margin-top: -30px;
}





#details{
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


#details .progress-bar{
    background-color: #6900d1;
}
#details img{
    width: 200px;
    border-radius: 50%;
    border: 5px solid #6900d1;
}
 





#project{
  background-color:white;
  color:black;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 6%;
}
.services{
margin-top: 40px;
margin-bottom: 20px;
}
.services-box{
box-shadow: 0 0 4px 0 #6900d1;
padding: 20px;
margin-top: 30px;
}
#project .fas{
    font-size: 40px !important;
    margin-bottom: 20px;
    color: #6900d1;
}
#project p{
    text-align: justify;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#project span{
    color: #6900d1;
}
#project a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: 20px; 
    background-color: #6900d1;
}
a .far{
    color: #fff;
    font-size: 25px !important;
    padding-top: 6px;
}
#project{
    font-weight: 300px;
}









#cer {
    margin: 30px;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
    background-color: #6900d1;
    font-family:  "Comic Sans MS", cursive, sans-serif ; 
}
#cer h3{
    font-family:  "Comic Sans MS", cursive, sans-serif ; 
    text-align: center;
    margin-bottom: 40px;
    color: white;
    padding-top: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
    border: 3px solid #6900d1;
  }
  .column img:hover {
    filter: grayscale(0);
  }
  #cer .fas{
      color: white;
      width: 50px;
  }
  #cer button{
    background-image: linear-gradient(to right,#6900d1,#5c8bef);
    width: 160px;
    padding: 10px;
    margin-top: 40px;
    color: white;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
      filter: grayscale(0) brightness(1);
    }
  }
  







#newsletter{
    background-color:white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -180px;
}

  #newsletter .subscribe{
      margin-top: 40px;
      padding: 50px 20px 50px 20px;
    background-color: #6900d1;
    position: relative;
    box-shadow: 0 0 20px 7px rgb(0,0,0,0.2);
    border-radius: 0 30px 30px 30px ;
}
#newsletter .subscribe h3{
    color: white;
}
#newsletter .subscribe .input-group{
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin:10px auto;
    padding: 5px;
}
#newsletter .subscribe .form-control{
    border: none;
    background: transparent;
}
#newsletter .subscribe .form-control:focus{
    box-shadow: none;
    background: transparent;
}
#newsletter .subscribe .input-group-append{
    background-image: linear-gradient(to right,#6900d1,#5c8bef);
    border-radius: 30px;
}
#newsletter .subscribe .input-group-text{
    background: transparent;
    border: none;
    color:  #fff;
}
#newsletter .subscribe .btn:focus{
    box-shadow: none;
}





#footer{
    margin-top: 80px;
    padding:100px;
    background-color: #6900d1;
    color: white;
    text-align: justify;
}
.footer-logo{
    margin-top: 25px;
    margin-bottom: 15px;
}
#footer h1{
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}
#footer p{
    font-size: 12px;
    text-align: left;
}
#footer .fab{
   margin-right:20px;
   font-size: 15px;
}
#footer hr{
    margin-top: 10px;
}
#footer .copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
}
#footer a{
     color: #fff;
     text-decoration: none;
}



.goTop{
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #48dbfb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
  }



  ::-webkit-scrollbar{
    width: 10px;
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #6900d1;
  }
  



  .icons{
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index:100 ;
      position: fixed;
  }
  .icons ul{
      padding: initial;
  }
  .icons ul li{
      height: 40px;
      width: 40px;
      list-style-type:none;
      padding-left: 12px;
      padding-top: 6px;
      margin-top: 5px;
      color: #fff;
  }
  .facebook{
      background: #3b5998;
  }
  .linkdin{
      background: #007bb5;
  }
  .instagram{
      background:#ff4800 ;
  }
  .twitter{
      background:#55acee ;
  }
  .icons ul li:hover
  {
      padding-left: 30px;
      width: 80px;
      transition: 0.2s;
  }
